# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
dist/
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
auth.json
.auth/

# We shouldnt commit real credentials. As the platform itself is for demo use hence adding the cred for now.
# .env
# .env.dev
# .env.staging
# .env.prod
# .env.local
# .env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln